altgraph==0.17
appdirs==1.4.3
asgiref==3.2.10
attrs==19.3.0
Automat==20.2.0
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.9.1
blabel==0.1.3
black==19.10b0
bleach==3.1.3
brother-ql==0.9.4
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
cssselect2==0.2.2
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
dj-database-url==0.5.0
Django==3.1.1
django-heroku==0.3.1
django-livereload-server==0.3.2
django-tables2==2.2.1
dnspython==1.16.0
entrypoints==0.3
et-xmlfile==1.0.1
experta==1.9.4
filelock==3.0.12
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.3
Flask-WTF==0.14.3
frozendict==1.2
future==0.18.2
gunicorn==20.0.4
html5lib==1.0.1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
json5==0.9.3
jsonschema==3.2.0
jupyter-client==6.1.0
jupyter-core==4.6.3
jupyterlab==2.0.1
jupyterlab-server==1.0.7
labels==0.2.0
lxml==4.5.0
Markdown==3.2.2
MarkupSafe==1.1.1
mistune==0.8.4
mysql-connector==2.2.9
mysql-connector-python==8.0.19
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numpy==1.18.1
openpyxl==3.0.3
packbits==0.6
pandas==1.0.1
pandocfilters==1.4.2
parsel==1.5.2
parso==0.6.2
pathspec==0.8.0
pefile==2019.4.18
pickleshare==0.7.5
Pillow==7.0.0
pipenv==2018.11.26
prometheus-client==0.7.1
prompt-toolkit==3.0.4
Protego==0.1.16
protobuf==3.6.1
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
Pygments==2.6.1
PyHamcrest==2.0.2
PyInstaller==3.6
pylabels==1.2.1
pyOpenSSL==19.1.0
Pyphen==0.9.5
pyrsistent==0.15.7
pyStrich==0.8
python-barcode==0.11.0
python-dateutil==2.8.1
pytoml==0.1.21
pytz==2020.1
pyusb==1.0.2
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzmq==19.0.0
qrcode==6.1
queuelib==1.5.0
regex==2020.4.4
reportlab==3.5.34
requests==2.23.0
schema==0.6.7
Scrapy==2.0.1
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
shopee-api==1.0.3
six==1.14.0
soupsieve==2.0.1
SQLAlchemy==1.3.16
sqlparse==0.3.1
tableauserverclient==0.10
terminado==0.8.3
testpath==0.4.4
tinycss2==1.0.2
toml==0.10.0
tornado==6.0.4
traitlets==4.3.3
Twisted==20.3.0
typed-ast==1.4.1
urllib3==1.25.8
virtualenv==20.0.7
virtualenv-clone==0.5.3
w3lib==1.21.0
wcwidth==0.1.9
WeasyPrint==51
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
WTForms==2.3.1
zope.interface==5.0.1
